<div class="row">
  <div class="col-12">
    <h2>{{title}}</h2>

    <hr>

    <div class="alert alert-success" *ngIf="status == 'success'">
      El registro se ha completado correctamnete. identificate <a [routerLink]="['/login']">Aqui!!</a>
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
      El registro tiene errores : {{mensaje}}
    </div>

    <form #registerForm="ngForm"
          action=""
          class="col-8"
          (ngSubmit)="onSubmit(registerForm)">
      <p>
        <label for="name">Nombre</label>
        <input type="text"
               class="form-control"
               name="name"
               id="name"
               #name="ngModel"
               [(ngModel)]="user.name" required>
        <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
      </p>
      <p>
        <label for="surname">Apellidos</label>
        <input type="text"
               class="form-control"
               name="surname"
               id="surname"
               #surname="ngModel"
               [(ngModel)]="user.surname" required>
        <span *ngIf="!surname.valid && surname.touched">El Apellido es obligatorio</span>
      </p>
      <p>
        <label for="name">Email</label>
        <input type="email"
               class="form-control"
               name="email"
               id="email"
               #email="ngModel"
               [(ngModel)]="user.email" required>
        <span *ngIf="!email.valid && email.touched">El Email es obligatorio</span>
      </p>
      <p>
        <label for="surname">Password</label>
        <input type="password"
               class="form-control"
               name="password"
               id="password"
               #password="ngModel"
               [(ngModel)]="user.password" required>
        <span *ngIf="!password.valid && password.touched">El Password es obligatorio</span>
      </p>
      <input type="submit" value="Registrarme!" class="btn btn-outline-success">
    </form>

  </div>
</div>
