<!--Cabecera-->
<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/home']">Concesionario Laravel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="_userService.identity">
          <a class="nav-link" [routerLink]="['/create-car']">Crear coche</a>
        </li>
      </ul>


      <ul class="navbar-nav mr-auto navbar-right" *ngIf="!_userService.identity">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/login']">Identificate</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/register']">Registro</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto navbar-right" *ngIf="_userService.identity">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link">{{_userService.identity.name + " " + _userService.identity.surname}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/logout', 1]">Salir</a>
        </li>
      </ul>


    </div>
  </nav>


</header>

<!--Contenido-->
<div class="container">
  <router-outlet></router-outlet>
</div>
